<mk-box>
  <h5> Cadastro </h5>
  <hr>
  <form>
  
   
    <div class="form-group">
      <div class="row">
        <div class="col col-sm-6">
            <input type="text" class="form-control" name="name" [(ngModel)]="name" placeholder="Nome do Arquivo">
        </div>
        <div class="col col-sm-6">
            <input type="file" name="file" (change)="watchFile($event)" accept=".mp3" placeholder="Repetir Senha">
        </div>
      </div>        
    </div>
  
    <div class="form-group pull-right">
        <button type="button" (click)="save()" class="btn btn-primary float-right">Salvar</button>
    </div>
    
  </form>
</mk-box>

<mk-box>
    <h5> Relatório de Áudios </h5>
    <hr>
    <table class="table">
      <thead>
        <th>Data de Cadastro</th>
        <th>Título</th>
        <th>Ação</th>
        
      </thead>
      <tbody>
        <tr *ngFor="let audio of audios">
          <td>{{audio.date_created}}</td>
          <td>{{audio.name}}</td>
          <td>
            <div *ngIf="!audio.url">
              <i class="fa fa-volume-up" (click)="getByName(audio)"></i>
            </div>
            <div *ngIf="audio.url">
                <audio [src]="audio.url" controls></audio>
            </div>
            
          </td>
        </tr>
      </tbody>
    </table>
    
  </mk-box>