<mk-box>
  <h5> Cadastro </h5>
  <hr>
  <form>
  
   
    <div class="form-group">
      <div class="row">
        <div class="col {{ isNew ? 'col-sm-6' : 'col-sm-12' }}">
            <input type="text" class="form-control" name="name" [(ngModel)]="name" placeholder="Nome do Arquivo">
        </div>
        <div class="col col-sm-6" *ngIf="isNew">
          <label class="btn btn-default">
            {{ fileMessage }} <input type="file" name="file" (change)="watchFile($event)" accept=".mp3" placeholder="Repetir Senha" style="display:none">
        </label>
            <!-- <input type="file" name="file" (change)="watchFile($event)" accept=".mp3" placeholder="Repetir Senha"> -->
        </div>
      </div>        
    </div>
  
    <div class="form-group pull-right">
        <button type="button" (click)="save()" [disabled]='isNew ? forbidden : false' class="btn btn-primary float-right">Salvar</button>
    </div>
    
  </form>
</mk-box>

<mk-box *ngIf="isNew">
    <h5> Relatório de Áudios </h5>
    <hr>
    <table class="table">
      <thead>
        <th>Data de Cadastro</th>
        <th>Título</th>
        <th>Ação</th>
        
      </thead>
      <tbody>
        <tr *ngFor="let audio of audios">
          <td>{{audio.date_created}}</td>
          <td>{{audio.title}}</td>
          <td>
            <span *ngIf="!audio.url">
              <i class="fa fa-volume-up" style="cursor: pointer" (click)="getByName(audio)"></i>
            </span>
            <span *ngIf="audio.url">
                <audio [src]="audio.url" controls></audio>
            </span>
            &nbsp;
            <span>
                <a routerLink="/Admin/Audios/Editar/{{audio.key}}"><i class="fa fa-edit" style="color:black"></i></a>
            </span>
            &nbsp;
            <span>
              <i class="fa fa-window-close" style="cursor:pointer" (click)="rm(audio.key)"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    
  </mk-box>