<mk-box>
  <h5> Cadastrar </h5>
  <hr>
  <form>
 
    <div class="form-group">
        <input type="text" class="form-control" name="name" [(ngModel)]="data.name" placeholder="Nome do usuário">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="email" [(ngModel)]="data.email" placeholder="E-mail">
    </div>
    
    <div class="form-group">
      <div class="row">
        <div class="col col-sm-6">
            <input type="text" class="form-control" name="password" [(ngModel)]="data.password" placeholder="Senha">
        </div>
        <div class="col col-sm-6">
            <input type="text" class="form-control" name="confirm_password" [(ngModel)]="data.confirm_password" placeholder="Repetir Senha">
        </div>
      </div>        
    </div>
  
    <div class="form-group">
        <button type="button" (click)="create()" class="btn-primary float-right">Salvar</button>
    </div>
    
  </form>
</mk-box>

<mk-box>
    <h5> Relatório de Usuários </h5>
    <hr>
    <table class="table">
      <thead>
        <th>Data de Cadastro</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Ação</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.date_created}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>Excluir</td>
        </tr>
      </tbody>
    </table>
   
  </mk-box>